{
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["plugin:vue/base", "eslint:recommended", "@vue/eslint-config-typescript/recommended"],
  "rules": {
    "vue/no-mutating-props": "warn",
    "eqeqeq": ["warn", "always"],
    // Following rules deprecated in vue3 and fixable in vue2
    "vue/no-deprecated-filter": "error",
    "vue/no-deprecated-functional-template": "error",
    "vue/no-deprecated-slot-attribute": "error",
    "vue/no-deprecated-slot-scope-attribute": "error",
    "vue/no-deprecated-v-on-native-modifier": "warn",
    "vue/no-deprecated-v-bind-sync": "warn",
    // TS-specific
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "globals": {
    "__dirname": true
  }
}

