.ot-root,
.ot-root .ot-btn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
}
.ot-root,
.ot-root * {
  box-sizing: border-box;
}
.ot-root svg.ot-icn {
  width: 16px;
  height: 16px;
}

/* OT: Buttons */

.ot-root .ot-btn {
  padding: 9px 14px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.ot-root .ot-btn.ot-btn-icn {
  padding: 10px 10px;
  font-size: 0;
}
.ot-root .ot-btn.ot-btn-icn svg {
  font-size: 0;
}
.ot-root .ot-btn.ot-btn-sm {
  padding: 9px 12px;
  font-size: 12px;
}
.ot-root .ot-btn.ot-ghost {
  background-color: transparent;
}
.ot-root .ot-btn.ot-ghost:hover {
  background-color: #f7f7f7;
}
.ot-root .ot-btn.ot-ghost.ot-active {
  background-color: #f0f0f0;
}
.ot-root .ot-btn.otua-allow,
.ot-root .ot-btn.otua-deny {
  color: #ffffff;
}
.ot-root .ot-btn.ot-rounded {
  border-radius: 30px;
}
.ot-root .ot-btn.otua-allow {
  background-color: #9feca8;
}
.ot-root .ot-btn.otua-allow:hover {
  background-color: #259031;
}
.ot-root .ot-btn.otua-deny {
  background-color: #ebabab;
}
.ot-root .ot-btn.otua-deny:hover {
  background-color: #b61a1a;
}
.ot-root .ot-btn.ot-active.otua-allow {
  background-color: #45b051;
}
.ot-root .ot-btn.ot-active.otua-allow:hover {
  background-color: #259031;
}
.ot-root .ot-btn.ot-active.otua-deny {
  background-color: #d63a3a;
}
.ot-root .ot-btn.ot-active.otua-deny:hover {
  background-color: #b61a1a;
}

@media (min-width: 673px) {
  .ot-root .ot-btn {
    font-size: 15px;
  }
}

/* OT: Trigger */

.ot-root .ot-trigger-container {
  position: fixed;
  bottom: 12px;
  left: 0;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px #d1d1d1;
  text-align: center;
  cursor: pointer;
}
.ot-root .ot-trigger svg {
  width: 24px;
  margin-bottom: 4px;
}
.ot-root .ot-trigger p {
  margin: 0;
  font-size: 10px;
}

/* OT: Entry */

.ot-root .ot-entry-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 990;
}
.ot-root .ot-entry {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px #d1d1d1;
}
.ot-root .ot-entry .ot-entry__cp {
  display: flex;
  justify-content: start;
  align-items: center;
}
.ot-root .ot-entry .ot-entry__notice {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  padding: 0 45px 0;
}
.ot-root .ot-entry .ot-entry__notice p {
  margin: 0;
}
.ot-root .ot-entry .ot-entry__btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ot-root .ot-entry .ot-entry__btns [data-ot-entry-ua='close'] {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
}

@media (min-width: 769px) {
  .ot-root .ot-entry {
    text-align: initial;
    flex-direction: row;
    align-items: stretch;
    padding: 10px;
  }
  .ot-root .ot-entry .ot-entry__cp-logo {
    position: static;
    transform: none;
  }
  .ot-root .ot-entry .ot-entry__notice {
    padding: 0 15px 0 0;
    margin: 0;
  }
  .ot-root .ot-entry .ot-entry__btns [data-ot-entry-ua='close'] {
    position: static;
    transform: none;
  }
}

/* OT: Settings */

.ot-root .ot-settings-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: auto;
  padding: 12px 12px;
  background-color: rgba(0, 0, 0, 0.35);
}
.ot-root .ot-settings {
  position: relative;
  width: 880px;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 15px 15px 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px #d1d1d1;
}
.ot-root .ot-settings .ot-settings__close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.ot-root .ot-settings h1 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 24px;
}
.ot-root .ot-settings p.ot-settings__notice {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
}
.ot-root .ot-settings .ot-settings__main-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}
.ot-root .ot-settings .ot-settings__main-actions__btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.ot-root .ot-settings .ot-settings__services {
  border: 1px solid #dddddd;
}
.ot-root .ot-settings .ot-settings__service {
  min-height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #dddddd;
}
.ot-root .ot-settings .ot-settings__service:last-of-type {
  border: 0;
}
.ot-root .ot-settings .ot-settings__service-header {
  flex: 0 0 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #f3f3f3;
}
.ot-root .ot-settings .ot-settings__service-header p {
  margin: 0 0 6px;
}
.ot-root .ot-settings .ot-settings__service-header p.ot-settings__service-name {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}
.ot-root .ot-settings .ot-settings__service-header p.ot-settings__service-type {
  font-size: 12px;
  color: #777777;
}
.ot-root .ot-settings .ot-settings__service-header p:last-of-type {
  /* required to bypass ".ot-settings__service-name" selector */
  margin: 0 !important;
}
.ot-root .ot-settings .ot-settings__service-content {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 15px;
}
.ot-root .ot-settings .ot-settings__service-content .ot-settings__service-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin: 0 0 10px;
  padding: 0;
}
.ot-root .ot-settings .ot-settings__service-content .ot-settings__service-desc {
  font-size: 13px;
}
.ot-root
  .ot-settings
  .ot-settings__service-content
  .ot-settings__service-state {
  margin: 0;
  font-size: 12px;
  color: #999999;
}
.ot-root .ot-settings .ot-settings__service-content .ot-settings__service-btns {
  display: flex;
  gap: 10px;
}
.ot-root .ot-settings .ot-settings__cp {
  position: absolute;
  right: 10px;
  bottom: -16px;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  font-size: 10px;
  background-color: rgba(255,255,255,0.45);
  border-radius: 0 0 4px 4px;
}
.ot-root .ot-settings .ot-settings__cp-info {
  padding: 0 6px 0 0;
  line-height: 1;
}
.ot-root .ot-settings .ot-settings__cp-logo {
  width: 18px;
}

@media (min-width: 481px) {
  .ot-root .ot-settings .ot-settings__service {
    flex-direction: row;
  }
  .ot-root .ot-settings .ot-settings__service-header {
    flex-direction: column;
    justify-content: center;
    align-items: initial;
  }
  .ot-root
    .ot-settings
    .ot-settings__service-header
    p.ot-settings__service-name {
    margin: 0 0 6px;
  }
}
@media (min-width: 673px) {
  .ot-root .ot-settings-overlay {
    padding: 50px 50px;
  }
  .ot-root .ot-settings h1 {
    font-size: 28px;
    margin: 0 0 30px;
  }
  .ot-root .ot-settings p.ot-settings__notice {
    font-size: 15px;
  }
  .ot-root .ot-settings .ot-settings__main-actions {
    margin: 30px 0;
  }
  .ot-root .ot-settings .ot-settings__service-header {
    flex: 0 0 20%;
  }
  .ot-root .ot-settings .ot-settings__service-content {
    flex: 0 0 80%;
    flex-direction: row;
  }
  .ot-root
    .ot-settings
    .ot-settings__service-content
    .ot-settings__service-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 15px 0 0;
  }
  .ot-root
    .ot-settings
    .ot-settings__service-content
    .ot-settings__service-desc {
    font-size: 14px;
  }
  .ot-root
    .ot-settings
    .ot-settings__service-content
    .ot-settings__service-state {
    margin: 4px 0 0;
  }
}
